body {
    background-color: black;
    color: black;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(251, 255, 0);
    position: fixed;
    height: 100%;
    padding: 10px;
}
nav ul li {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: .25em;
    row-gap: 1em;
}

.column-1 {
background-color: deeppink;
border-radius: 5%;
padding: 1em;
margin-left: 10vw
}

.column-2 {
background-color: green;
border-radius: 5%;
padding: 1em;
}

.column-3 {
background-color: aquamarine;
border-radius: 5%;
padding: 1em;
}