body {
    background-color: black;
    color: black;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(251, 255, 0);
    position: fixed;
    height: 100%;
    padding: 10px;
}
nav ul li {
    list-style: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 3px;
    margin-left: 110px;
}

.column-1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.cardDeepPink {
background-color: deeppink;
border-radius: 10%;
padding: 1em;
margin-top: 4px;
}

.cardGreenGoblin {
    background-color: green;
    border-radius: 10%;
    padding: 1em;
    margin-top: 4px;
}

.column-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.column-3 {
background-color: aquamarine;
border-radius: 5%;
padding: 1em;
}