body {
    background-color: black;
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

nav {
    background-color: rgb(251, 255, 0);
    position: fixed;
    height: 100%;
    padding: 10px;
}
nav ul li {
    list-style: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.3rem;
    gap: 0.3rem;
    margin-right: 3px;
    margin-left: 7.5%;
}

.column-1 {
    display: flex;
    grid-gap: 4px;
    flex-direction: column;
}

.column-2 {
    display: flex;
    grid-gap: 4px;
    flex-direction: column;
}

.column-3 {
    display: flex;
    grid-gap: 4px;
    flex-direction: column;
}

.cardDeepPink {
background-color: #ff00d3;
border-radius: 2.4rem;
padding: 1em;
}

.cardGreenGoblin {
    background-color: rgb(17, 184, 17);
    border-radius: 2.4rem;
    padding: 1px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 34px;
    }

.cardGreenGoblin ul {
    margin-left: 25px;
    padding-left: 0;
}

.cardGreenGoblin li {
    list-style-image: url('assets/img75x75.png');
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
    margin-left: 17%;
}

.cardSalmon {
    background-color: salmon;
    border-radius: 2.4rem;
    padding: 20px;
    margin-bottom: 4px;
}

.cardAquaMan {
    background-color: aquamarine;
    border-radius: 2.4rem;
    padding: 20px;
    margin-bottom: 4px;
}


hr {
    border: 0;
    width: 100%;               
    background-color:#000;
    height: 1px;
    margin: 0;
}


footer {
    background-color: brown;
}